/* READ common.css of font-style*/
/* READ common.css of NAV part*/
/* READ common.css of HAMBURGER MENU part*/
/* READ common.css of HEADER part*/

/* NAV */
.nav-wrapper{
    position: fixed;
    width: 100%;
    height: 180px;
    top: 0;
}
.nav-top{
    position: absolute;
}
.container{
    position: absolute;
    top: 50px;
    left: 100px;
}
.nav-left{
    margin-left: 40px;
}

/* MAIN */
.main{
    position: absolute;
    width: 100%;
    top: 0;
}
.main img{
    opacity: 70%;
}
.main h2{
    background-color: #7e3b3b;
    opacity: 70%;
}
.header button{
    background-color: #964545;
}

/* ABOUT WRAPPER */
.about-wrapper{
    width: 100%;
    height: 950px;
    background-color: #949494;
    position: relative; 
    top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.about-wrapper img{
    width: 90%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    opacity: 80%;
    position: absolute;
    top: 100px;
    left: 5%;
}
.back-wrapper{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 150px;
    background-color: #000000;
    opacity: 50%;
}
.about-info{
    position: absolute; 
    width: 95%;   
    height: auto;
    text-align: center;
    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin-bottom: 40px;
}
.about-info:first-of-type {
    top: 45%; 
}
.about-info:last-of-type {
    top: 70%; 
}
.about-wrapper p,
.about-wrapper span{
    width: 76%; 
    font-weight: 500;
    font-size: 35px;
    color: white;
    opacity: 70%;
    word-wrap: break-word;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.about-wrapper p{
    font-family: "Rammetto One", sans-serif;
    font-weight: 600;
}
.about-wrapper span{
    font-family: "Roboto Serif", serif;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}

/* CHOCO BOTTOM */
.choco-bottom{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1350px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choco-bottom h2{
    font-family: "Baloo Chettan 2", sans-serif;
    font-weight: 500;
    color: #fffff0;
    font-size: 30px;
    margin: 50px auto;
}

/* FOOTER */
.footer-top{
    top: 1950px;
}


@media(min-width: 1440px){
    .nav-wrapper{
        width: 100vw;
    }
    .container{
        width: 80vw;
    }
}


@media(max-width: 768px){
    .main{
        height: 1600px;
    }
    .main img{
        height: 100%;
    }
    .about-wrapper{
        height: 1000px;
        top:400px;
    }
    .about-wrapper img{
        width: 100%;
        max-width: 90%;
        height: 100%;
        max-height: 80%;
    }
    .about-info{
        top: 350px;
    }
    .about-info p,
    .about-info span{
        width: 80%;
        font-size: 20px;
        margin-bottom: 25px;
    }
    .about-info span{
        display: block;
        width: 80%;
        font-size: 20px;
        line-height: 25px;
    }
    .choco-bottom{ 
        position: absolute;
        top: 1280px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .choco-bottom h2{
        position: static;
    }
    .footer-top{
        position: absolute;
        top: 1780px;
    }
}

@media(max-width: 480px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html, body{
        margin: 0;
        padding: 0;
    }
    .nav-top{
        width: 100vw;
    } 
    .nav-wrapper,
    .main{
        width: 100vw;
        margin: 0 ;
        padding: 0 ;
    }
    .main{
        height: 1800px;
        padding: 0;
        top: 0;
        position: relative;
    }
    .header{
        position: relative;
        text-align: center;
    }
    .header h2{
        position: absolute;
        font-size: 30px;
        left: -5%;
    }
    .header a,
    .header button{
        position: absolute;
        left: 35%;
    }
    .main img{
        width: 100%;
        height: auto;
        display: block;
    }
    .about-wrapper{
        height: 1100px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 10px ;
    }
    .about-info span{
        font-size: 16px;
        line-height: 25px;
    }
    .choco-bottom{
        margin-top:200px;
    }

    .footer-top{
        height: 60vh !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        top: 310vh;
    }
    .footer-left,
    .footer-middle,
    .footer-right{
        width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        margin-bottom: 1em;
    }
    .footer-left{
        left: auto;
    }
    .footer iframe{
        margin: 0 auto;
        display: block;
    }
    .footer-middle{
        left: auto;
    }
    .middle-row{
        width: 70%;
        margin-left: 30%;
    }
    
    .footer-row{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }    
    .footer-right{
        left: auto;
    }
    .footer-right p{
        width: 70%;
        margin-left: 15%;
    }
    .footer{
        top: 60vh;
    }
}