/* READ common.css of font-style*/
/* READ common.css of NAV part*/
/* READ common.css of HAMBURGER MENU part*/
/* READ common.css of HEADER part*/

/* MAIN */
.main img{
    opacity: 60%;
}
.main h2{
    background-color: #7e3b3b;
    opacity: 70%;
}
.header button{
    background-color: #964545;
}

/* CONTACT WRAPPER */
.contact-wrapper{
    width: 100%;
    height: 950px;
    background-color: #949494;
    position: relative; 
    top: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.contact-wrapper img{
    width: 90%;
    height: 80%;
    object-fit: cover;
    opacity: 70%;
    position: absolute;
    top: 100px;
    left: 5%;
}
.back-wrapper{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 150px;
    background-color: #000000;
    opacity: 60%;
}
.contact-wrapper form{
    width: 30em;
    position: absolute;
    top: 13em;
    left: 25em;
    line-height: 1.5em;
}
.contact-wrapper form div{ /
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.contact-wrapper form label{ 
    width: 20em;
}
.contact-wrapper form input{ 
    width: 33em;
    height: 2em;
    margin-top: .3em;
    margin-left: 8em;
    line-height: 1em;
    position: absolute;
    left: 8em;
}

/* ITEM-QUANT section*/
.name,
.address,
.tel,
.email,
.f-address{
    color: #fffff0;
}
.item-quant{
    display: flex;
    flex-direction: row;
    color: #fffff0;
}
.item-quant form{
    width: 20em;
    position: absolute;
    top: 28em;
    left: 25em;
    line-height: 1.5em;
}
.item-quant form div{  
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.item-quant form label{ 
    width: 10em;
}
.item-quant form input{ 
    width: 14em;
    margin-top: .3em;
    margin-left: 3em;
    line-height: 1.5em;
    position: absolute;
    left: 8em;
}

/* QUANTITIY section */
.quantity-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quantity{
    color: #fffff0;
}
.quantity-row form{
    width: 20em;
    position: absolute;
    top: 28em;
    left: 52em;
    line-height: 1.5em;
}
.quantity-row form div{  
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.quantity-row form label{ 
    width: 8em;    
}
.quantity-row form input{ 
    width: 8em;
    margin-top: .3em;
    margin-left: 4em;
    line-height: 1em;
    position: absolute;
    left: 5em;
}

/* MESSAGE section */
.message{
    color: #fffff0;
    position: relative;
    margin-top: 1em;
}
.message form div{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.message form{
    width: 20em;
    position: absolute;
    top: 30em;
    left: -22.5em;
}
.message form textarea{
    width: 30em;
    height: 10em;
    position: absolute;
    margin-left: 5em;
}

/* BUTTON */
.contact-wrapper button{
    width: 80px;
    height: 35px;
    border-radius: 50px;
    background-color: #FCC7C7;
    color: black;
    font-size: 20px;
    font-weight: 600;
    top: 37em;
    left: 55em;
}
.contact-wrapper button:hover{
    background-color: #fffff0;
}

/* CHOCO BOTTOM */
.choco-bottom{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 1470px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choco-bottom h2{
    font-family: "Baloo Chettan 2", sans-serif;
    font-weight: 500;
    color: #fffff0;
    font-size: 30px;
    margin: 50px auto;
}

/* FOOTER*/
.footer-top{
    top: 1000px;
}

/*for CONTACT file  */
@media(max-width: 768px){
    .main{
        height: 1750px;
    }
    .main img{
        height: 100%;
    }
    .back-wrapper{
        width: 86%;
    }
    .contact-wrapper{
        height: 1000px;
        top: 520px;
    }
    .contact-wrapper img{
        width: 100%;
        max-width: 90%;
        height: 100%;
        max-height: 80%;
    }
    .contact-wrapper form{
        width: 50%;
        left: 10%;
    }
    .contact-wrapper form div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contact-wrapper form label{
        width: 10em;
    }
    .contact-wrapper form input{
        margin-left: 3.5em;
    }
    .item-quant form .item{
        width: 40%;
        top: 27em;
    }
    .item-quant form label{
        width: 8em;
        white-space: nowrap;
        font-size: 15px;
    }
    .item-quant form input{
        width: 15em !important;
        top: 0 !important;
        left: -1.5em;
        line-height: 2em;
    }
    .quantity-row form{
        width: 40%;
        top: 28em;
        left: 74%;
    }
    .quantity-row form label{
        width: 8em;
        margin-left: -5em;
        font-size: 15px;
    }
    .quantity-row form input{
        width: 5em !important;
        margin-top: 0;
        margin-left: -7em;
        left: 6em;
    }
    .item-quant form input,
    .quantity-row form input{
        position: relative;
        margin-top: 0.5em;
    }
    .message form{
        top: 31em;
        left: -19em;        
        display: flex;
        flex-direction: row;
    }
    .message form textarea{
        width: 33em;
        left: 6em;
    }
    .contact-wrapper button{
        position: absolute !important;
        top: 40em !important;
        left: 80% !important;
    }
    .choco-bottom{ 
        position: absolute;
        top: 1540px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .choco-bottom h2{
        position: static;
    }
    .footer-top{
        position: absolute;
        top: 1920px;
    }
}

@media(max-width: 480px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html, body{
        margin: 0;
        padding: 0;
    }
    .nav-top{
        width: 100vw;
    } 
    .nav-wrapper,
    .main{
        width: 100vw;
        margin: 0 ;
        padding: 0 ;
    }
    .main{
        height: 2000px;
        padding: 0;
        top: 0;
        position: relative;
    }
    .header{
        position: relative;
        text-align: center;
    }
    .header h2{
        position: absolute;
        font-size: 30px;
        left: -4%;
    }
    .header a,
    .header button{
        position: absolute;
        left: 33%;
    }
    .main img{
        width: 100%;
        height: auto;
        display: block;
    }
    .contact-wrapper{
        height: 1300px !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        gap: 10px ;
        overflow: hidden;
        top: 300px;;
    }
    .backwrapper{
        width: 90%;
        height: 90%;
    }
    .contact-wrapper img{
        width: 90%;
        height: 90%;
    }
    .contact-wrapper form div {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        width: 90%;
        margin-bottom: 2rem;
    }     
    .contact-wrapper form label {
        margin: 0 0 0.5rem 0; 
        padding: 0;
        width: 40%;
        text-align: left;
        font-size: 15px;
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 10px;
    }
    .contact-wrapper form input{
        width: 100%;
        margin-top: 0.3em;
        margin-left: 1rem;
    }
    .contact-wrapper form input,
    .contact-wrapper form textarea {
        width: 100%;
        padding: 0.5rem;
    }
    
    .item-quant {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;
      }
      .item-quant form{
        position: absolute;
        top: 120px;
      }
    .quantity-row form{
        position: absolute;
        top: 442px;
    }

      .item-quant .item,
      .item-quant .quantity-row {
        position: relative;
        top: 5px;
    }   
    
      .item-quant .item label,
      .quanty-row.quantity label {
        display: block;
        font-size: 14px;
        margin-bottom: 4px;
      }
    
      .item-quant .item input,
      .quanty-row .quantity input {
        width: 100%;
        font-size: 14px;
        padding: 4px;
      }
    
      .contact-wrapper .message{
        width: 100%;
        position: absolute;
        top: 300px;
      }

      .contact-wrapper .message form{
        position: relative;
        top: 250px;
        margin-left: 100px;
      }
      .contact-wrapper .message form label{
        position: relative;
        top: 250px;
        margin-top: 50px;
        margin-left: 48px;
      }
      .contact-wrapper .message form textarea{
        width: 100%;
      }


      .contact-wrapper button{
        position: absolute;
        top: 1200px !important;
        left: 45% !important;
      }
    
    .choco-bottom{
        margin-top:5px;
    }

    .footer-top{
        height: 60vh !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        top: 310vh;
    }
    .footer-left,
    .footer-middle,
    .footer-right{
        width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        margin-bottom: 1em;
    }
    .footer-left{
        left: auto;
    }
    .footer iframe{
        margin: 0 auto;
        display: block;
    }
    .footer-middle{
        left: auto;
    }
    .middle-row{
        width: 70%;
        margin-left: 30%;
    }
    
    .footer-row{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }    
    .footer-right{
        left: auto;
    }
    .footer-right p{
        width: 70%;
        margin-left: 15%;
    }
    .footer{
        top: 60vh;
    }
}